table.kalender {
	border-collapse: collapse;
}

tbody tr td{
	padding-left: 5px;
	padding-right: 5px;
}

tbody.entries tr:nth-child(odd) {
	background-color: #e6e3e6;
}

tbody.entries tr:nth-child(even) {
	background-color: white;
}
